# total 1 error

parameters:
    ignoreErrors:
        -
            message: '#^Cognitive complexity for "Guanguans\\RectorRules\\Rector\\Array_\\UpdateRectorCodeSamplesFromFixturesRector\:\:doRefactor\(\)" is 11, keep it under 10$#'
            count: 1
            path: ../src/Rector/Array_/UpdateRectorCodeSamplesFromFixturesRector.php
