# total 9 errors

includes:
    - complexity.functionLike.neon
    - rector.avoidFeatureSetAttributeInRector.neon
    - rector.noClassReflectionStaticReflection.neon
    - symplify.forbiddenFuncCall.neon
    - symplify.preferredClass.neon
