# total 2 errors

parameters:
    ignoreErrors:
        -
            message: '#^Cannot call method mapWithKeys\(\) on mixed\.$#'
            count: 1
            path: ../src/Support/helpers.php

        -
            message: '#^Cannot call method when\(\) on mixed\.$#'
            count: 1
            path: ../src/Support/helpers.php
