# total 1 error

parameters:
    ignoreErrors:
        -
            message: '#^Method Guanguans\\RectorRules\\Rector\\AbstractProxyRector\:\:rawRefactor\(\) has no return type specified\.$#'
            count: 1
            path: ../src/Rector/AbstractProxyRector.php
