# total 13 errors

parameters:
    ignoreErrors:
        -
            message: '#^Cannot access property \$name on PhpParser\\Node\\Name\|null\.$#'
            count: 1
            path: ../src/Rector/Name/RenameToPsrNameRector.php

        -
            message: '#^Cannot access property \$type on mixed\.$#'
            count: 12
            path: ../src/Rector/Name/RenameToPsrNameRector.php
