# total 1 error

parameters:
    ignoreErrors:
        -
            message: '#^Instead of using Rector rule to setAttribute\("start_and_end"\) to be used later, create a service extending "DecoratingNodeVisitorInterface"\. This ensures attribute decoration and node changes are in 2 separated steps\.$#'
            count: 1
            path: ../src/Rector/FunctionLike/RenameGarbageParamNameRector.php
