# total 1 error

parameters:
    ignoreErrors:
        -
            message: '#^PHPDoc tag @return with type list\<PhpParser\\Node\>\|null is not subtype of native type PhpParser\\Node\|null\.$#'
            count: 1
            path: ../src/Rector/Cases/CaseRector.php
