# total 1 error

parameters:
    ignoreErrors:
        -
            message: '#^PHPDoc tag @return contains unresolvable type\.$#'
            count: 1
            path: ../src/Rector/AbstractProxyRector.php
