# total 1 error

parameters:
    ignoreErrors:
        -
            message: '#^Instead of "Closure" class/interface use "PhpParser\\Node\\Expr\\Closure"$#'
            count: 1
            path: ../src/Rector/Name/RenameToConventionalCaseNameRector.php
