# total 2 errors

parameters:
    ignoreErrors:
        -
            message: '#^Out of 105 possible return types, only 103 \- 98\.0 %% actually have it\. Add more return types to get over 100 %%$#'
            count: 2
            path: ../src/Rector/AbstractProxyRector.php
