# total 2 errors

parameters:
    ignoreErrors:
        -
            message: '#^Out of 88 possible return types, only 86 \- 97\.7 %% actually have it\. Add more return types to get over 100 %%$#'
            count: 2
            path: ../src/Rector/AbstractProxyRector.php
